googletrans==4.0.0rc1
keras==3.6.0
keras-nlp==0.0.2
matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
spacy==3.8.2
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tqdm==4.66.5
transformers==4.45.2
google-cloud-translate==3.16.0
kaggle==1.6.17
polars==1.11.0
torch==2.5.1
keras-tuner==1.4.7